body {
    margin: 0px;
    padding: 0px;
}
.menu ul {
    list-style-type: none;
    background-color: #005da6;
    text-align: center;
}
ul li {
    display: inline-block;
    padding: 28px;
}
li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    
}
.menu a:hover{
    background-color: white;
    color: black;
    padding: 10px;
}

.fa-solid.fa-house {
    font-size: 15px;
    color: white;
}